language = "python3" 
run = "python main.py"
import numpy
num1=int(input("Please enter number x: "))
num2=int(input("Please enter number y: "))
print("x**y:", num1**num2)
print("log(x): ", np.log2(x))
print("My ID number: ", 75689)
